*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

*|*:-webkit-any-link {
    cursor: pointer !important;
    text-decoration: none !important;
}

*|*:-moz-any-link {
    cursor: pointer !important;
    text-decoration: none !important;
}

*|*:any-link {
    cursor: pointer !important;
    text-decoration: none !important;
}

body {
    overflow-x: hidden;
}

html,
body {
    height: 100%;
    min-height: 100vh;
    font-family: sans-serif;
}

.loader,
.loader:before,
.loader:after {
    background: royalblue;
    -webkit-animation: load1 1s infinite ease-in-out;
    animation: load1 1s infinite ease-in-out;
    width: 1em;
    height: 4em;
}

[hidden],
[page] {
    display: none !important;
}

[page][active] {
    display: block !important;
}

.bg-heraku {
    /* background: linear-gradient(315deg, #ff8f8f 0%, #2196F3 100%); */
    background: #667db6;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.loader {
    color: royalblue;
    text-indent: -9999em;
    margin: 88px auto;
    position: relative;
    font-size: 11px;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

.loader:before,
.loader:after {
    position: absolute;
    top: 0;
    content: '';
}

.loader:before {
    left: -1.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.loader:after {
    left: 1.5em;
}

@-webkit-keyframes load1 {

    0%,
    80%,
    100% {
        box-shadow: 0 0;
        height: 4em;
    }

    40% {
        box-shadow: 0 -2em;
        height: 5em;
    }
}

@keyframes load1 {

    0%,
    80%,
    100% {
        box-shadow: 0 0;
        height: 4em;
    }

    40% {
        box-shadow: 0 -2em;
        height: 5em;
    }
}